.link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    color:#434455;
}
.link .link:hover {
    color: #404BBF;
}
.link-logo {
    text-decoration: none;
}
.link-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 1, 5;
    color: #434455;
}
.link-phone .link:focus {
    color: #404BBF;
}
.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1,07;
    color: #FFF;
}
.web-color {
    font-family:Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1,17;
    color: #4D5AE5;
    letter-spacing: 0,03em;
    text-transform: uppercase;
}
.studio {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1,17;
    color: #2E2F42;
    letter-spacing: 0,03em;
}
.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1,5;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
}
.button .button:hover {
    color: #FFF;
    background: #404BBF;
}
.category {
    font-size: 16px;
    font-weight: 500;
    line-height: 1,5;
    color: #4D5AE5;
    background: #F4F4FD;
}
.category .category:hover {
    color: #FFF;
    background: #404BBF;
}
.value {
    font-size: 20px;
    font-weight: 500;
    line-height: 1,2;
    color: #2E2F42
}
.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1,5;
    color: #434455;
}
.secion {
    font-size: 36px;
    font-weight: 700;
    line-height: 1,1;
    color: #2E2F42;
}
.text-footer {
    font-size: 16px;
    font-weight: 400;
    line-height: 1,5;
    color: #F4F4FD
}